{{ form_start(form, {'attr': {'id': 'profileForm' }}) }}
    {{ form_row(form.firstName, {'attr': {'class': 'form-control' }}) }}
    {{ form_row(form.lastName, {'attr': {'class': 'form-control' }}) }}
    {{ form_row(form.birthday, {'attr': {'class': 'form-control', }}) }}
{% if user.image is not null %}
    <div id="userImage">
        <img src="{{ asset('uploads/' ~ user.email ~ '/' ~ user.image) }}"
             class="rounded-circle" width="50px"/>
        <button type="button" id="editImageButton" class="btn btn-info">Edit</button>
        <button type="button" id="deleteImageButton" class="btn btn-danger">Delete</button>
    </div>
    {{ form_row(form.image, {'attr': {'class': 'd-none'}}) }}
{% else %}
    {{ form_row(form.image, {'attr': {'class': 'form-control-file'}}) }}
{% endif %}
    {{ form_row(form.submit, {'attr': {'class': 'btn btn-dark mt-3 float-right' }}) }}
{{ form_end(form) }}
