{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div id="profilePage">
        <h4 class="text-center">Your Profile</h4>
        <div class="row justify-content-center mb-3">
            {% if user.image is null %}
                <img src="{{ asset('build/images/login/user-anonymous.png') }}"
                     class="rounded-circle" width="100px"/>
            {% else %}
                <img src="{{ asset('build/images/uploads/' ~ user.email ~ '/' ~ user.image) }}"
                     class="rounded-circle" width="100px"/>
            {% endif %}
        </div>
        <ul class="list-group">
            <li class="list-group-item"><b>First Name:</b> {{ user.firstname }}</li>
            <li class="list-group-item"><b>Last Name:</b> {{ user.lastname }}</li>
            <li class="list-group-item"><b>Birthday:</b> {{ user.birthday|date("d.m.Y") }}</li>
        </ul>
    </div>
    <div class="row justify-content-center mt-3">
        <button type="button" id="editModalButton" class="btn btn-secondary">
            Edit Profile
        </button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}
